main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd97d;
  flex-direction: column;
}
main > img {
  width: 150px;
  height: 150px;
  margin-bottom: 2rem;
}
