@keyframes animate_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate_left {
  0% {
    opacity: 0;
    margin-left: -500px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes animate_right {
  0% {
    opacity: 0;
    margin-left: 150px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

.hero_wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  bottom: -1px;
  background-color: #ffd97d;
  clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}

.hero_wrapper {
  width: 100%;
  position: relative;
  background-color: #100c0d;
}

.hero_section {
  display: flex;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  color: "fff";
  animation: animate_opacity 1s 1 ease;
  background: linear-gradient(
      90deg,
      rgba(16, 12, 13, 255) 40%,
      rgba(16, 12, 13, 0) 70%
    ),
    url("../assets/hero_dark.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  justify-content: left;
}
.hero_section > .text_section {
  display: flex;
  padding: 20px;
  padding-left: 5rem;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.hero_section > .text_section > span {
  text-transform: uppercase;
  font-weight: 600;
  color: #eb4537;
  font-size: 2rem;
  animation: animate_right 1s 1 ease;
}
.hero_section > .text_section > h1 {
  width: 50vw;
  color: inherit;
  font-size: 5.5em;
  line-height: 5rem;
  animation: animate_left 1s 1 ease;
  margin-bottom: 1rem;
}
.hero_section > .text_section > h3 {
  max-width: 30rem;
  color: #b0b0b0;
  font-size: 1.2rem;
  animation: animate_right 1s ease;
  margin-bottom: 2rem;
}
.hero_section > .text_section > .action_section {
  animation: animate_left 1s 1 ease;
  display: flex;
}
.hero_section > .text_section > .action_section img {
  height: 60px;
  margin-right: 2rem;
}
.hero_section > .text_section > .action_section > .btn_container {
  position: relative;
  align-self: flex-start;
  padding: 0.6rem 0;
}
.hero_section > .text_section a {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffd97d;
  border-color: #ffd97d;
  border: 2px solid #ffd97d;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  padding: 0.5em 2em;
}
.hero_section > .text_section a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ffd97d;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1),
    left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: 1;
}
.hero_section > .text_section a::after {
  content: "";
  display: inline-block;
  color: #eb4537;
  background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: 5;
}
.hero_section > .text_section a:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
.hero_section > .text_section a:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1),
    left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.hero_section > .text_section a:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

@media (max-width: 750px) {
  .hero_section {
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(
        0deg,
        rgba(16, 12, 13, 255) 40%,
        rgba(16, 12, 13, 0) 80%
      ),
      url("../assets/hero_dark.jpg");
    background-size: 100% auto;
    background-position: top;
    padding-top: 35vh;
  }
  .hero_section > .text_section {
    width: 100vw;
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  .hero_section > .text_section > span {
    font-size: 1.5rem;
    margin-bottom: 2vh;
  }
  .hero_section > .text_section > h1 {
    width: auto;
    font-size: 3.5em;
    line-height: 3rem;
    animation: animate_left 1s 1 ease;
    margin-bottom: 2vh;
    width: 90vw;
  }
  .hero_section > .text_section > h3 {
    color: #b0b0b0;
    font-size: 1rem;
    animation: animate_right 1s ease;
    margin-bottom: 3vh;
    width: 90vw;
  }
  .hero_section > .text_section > .action_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero_section > .text_section > .action_section img {
    height: 40px;
    margin-right: 0;
    margin-bottom: 3vh;
  }
  .hero_section > .text_section .btn_container {
    align-self: center;
    padding: 0em 2em;
    margin: 0 auto;
  }
}

.merch_wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  bottom: -99px;
  background-color: #fff;
  clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}

.merch_wrapper {
  width: 100%;
  position: relative;
  background-color: #ffd97d;
}

.merch_section {
  display: flex;
  width: 100%;
  background-color: #ffd97d;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-bottom: -100px;
}

.merch_section h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.merch_section > .merch_content {
  flex: 1;
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
}
.merch_section .merch_item {
  display: flex;
  justify-content: center;
}
.merch_section .merch_card {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.merch_section .merch_card > img {
  width: 100%;
  object-fit: cover;
}
.merch_section .merch_card > .bottom {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.cta {
  display: flex;
  justify-content: center;
  margin-top: 1.7rem;
}
.button {
  padding: 0.5rem 1rem;
  border: 4px solid #eb4537;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.button:hover,
.button:focus {
  box-shadow: inset 18rem 0 0 0 #eb4537;
  color: #fff;
  background-color: #fff;
}
.button > h1 {
  color: inherit;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.recipe_wrapper {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-top: 98px;
}

.recipe_section {
  display: flex;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
}

.recipe_section h1 {
  font-size: 3rem;
}

.recipe_section > .recipe_content {
  flex: 1;
  display: flex;
  padding: 2rem 5rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.recipe_section > .recipe_content > .recipe_card {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 400px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
  transition: 0.7s ease;
  margin: 0 0.7rem 1.4rem 0.7rem;
  overflow: hidden;
}
.recipe_section > .recipe_content > .recipe_card:hover {
  cursor: pointer;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.3);
  min-width: 490px;
  max-width: 490px;
}
.recipe_section > .recipe_content > .recipe_card > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.7s ease;
}
/* .recipe_section > .recipe_content > .recipe_card:hover img {
  transform: scale(1.1) rotate(3deg);
} */
.recipe_section > .recipe_content > .recipe_card > .bottom {
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
.recipe_section > .recipe_content > .recipe_card > .bottom > span {
  color: #100c0d;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 3px solid #ffd97d;
}
.recipe_section > .recipe_content > .recipe_card > .bottom > h1 {
  color: #eb4537;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.recipe_section > .submit_section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 2rem 0;
  width: 95vw;
}
.recipe_section > .submit_section > h1 {
  margin-bottom: 0;
}
.recipe_section > .submit_section > .button {
  color: #eb4537;
  border-color: #eb4537;
  border-width: 4px;
  margin-left: 3rem;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}

.recipe_section > .submit_section > .button:hover,
.recipe_section > .submit_section > .button:focus {
  box-shadow: inset 18rem 0 0 0 #eb4537;
  color: #fff;
  background-color: #fff;
}
.recipe_section > .submit_section > .button > h1 {
  font-size: 2rem;
  height: 45px;
}

@media only screen and (max-width: 1427px) and (min-width: 820px) {
  .recipe_section > .recipe_content {
    flex-direction: column;
    align-self: center;
    width: 100vw;
    max-width: 1010px;
  }
  .recipe_section > .recipe_content > .recipe_card {
    margin: 0 0.7rem;
  }
  .recipe_section > .recipe_content > .recipe_card:hover {
    z-index: 5;
  }
  .recipe_section > .recipe_content > .recipe_card:first-child {
    z-index: 3;
  }
  .recipe_section > .recipe_content > .recipe_card:nth-child(2) {
    z-index: 2;
    align-self: flex-end;
    margin-top: -13rem;
  }
  .recipe_section > .recipe_content > .recipe_card:nth-child(2):hover {
    z-index: 4;
  }
  .recipe_section > .recipe_content > .recipe_card:nth-child(3) {
    z-index: 1;
    margin-top: -13rem;
  }
  .recipe_section > .recipe_content > .recipe_card:nth-child(3):hover {
    z-index: 3;
  }
}
@media only screen and (max-width: 820px) {
  .recipe_section > .recipe_content {
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100vw;
    max-width: 1010px;
    padding: 0;
  }
  .recipe_section > .recipe_content > .recipe_card {
    margin: 0 0.7rem 1.4rem 0.7rem;
    width: 400px;
  }
  .recipe_section > .recipe_content > .recipe_card:hover {
    cursor: pointer;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.3);
    width: 450px;
  }
}
@media only screen and (max-width: 540px) {
  .recipe_section > .recipe_content > .recipe_card {
    width: 80vw;
    min-width: 0;
  }
  .recipe_section > .recipe_content > .recipe_card:hover,
  .recipe_section > .recipe_content > .recipe_card:focus {
    width: 90vw;
    min-width: 0;
  }
}
@media only screen and (max-width: 920px) {
  .recipe_section > .submit_section {
    flex-direction: column;
  }
  .recipe_section > .submit_section > .button {
    margin-left: 0;
    margin-top: 1rem;
  }
}
